.image-slider-container {
  padding-bottom: 50px;
  border-bottom: 2px dashed black;
  .widget-info-wrapper {
    text-align: center;
  }

  .image-slider-wrapper {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    position: relative;

    .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-size: 30px 100%;
      border-color: red;
      background-size: cover;
    }

    .background-img {
      background-image: url("../../../components/widgets/imageSlider/images/image-1.png");
    }

    .foreground-img {
      background-image: url("../../../components/widgets/imageSlider/images/image-2.png");
      border-right: 3px solid #102521;
    }

    #slider {
      position: relative;
      height: 100%;
      width: 100%;
      appearance: none;
      background-color: transparent;
      cursor: pointer;

      &::-webkit-slider-thumb {
        appearance: none;
        height: 15px;
        width: 15px;
        border: 1px solid black;
        background-color: #102521;
        border-radius: 50%;
      }
    }
  }
}
